ion-content {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Apilar elementos verticalmente */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    --background: #ffffff; /* Fondo blanco */
    height: 100vh; /* Altura de la vista completa */
    padding: 0; /* Sin padding */
}

.header {
    margin-bottom: 40px; /* Espaciado inferior */
    text-align: center; /* Centra el texto */
}

.title {
    font-size: 2rem;
}

.subTitle {
    font-size: 0.9rem; /* Tamaño de texto para el subtítulo */
    color: gray; /* Color gris */
}

.form-container {
    width: 80%; /* Ancho del formulario */
}

.input {
    font-weight: 300;
    color: #333; /* Color del texto */
}

/* Estilo del placeholder en negro */
ion-input::placeholder {
    color: #000000; /* Cambia el color del placeholder a negro */
    opacity: 1; /* Asegúrate de que el color sea opaco */
}

ion-item {
    --background: #f1f1f1; /* Fondo para los elementos del formulario */
    border-radius: 10px;
    margin-bottom: 16px;
}
