<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title" style="color:#000000">Enter your email</ion-title>
    <p class="subTitle" style="color:#000000">To receive a reset password link</p>
  </div>

  <div class="form-container">
    <ion-item>
      <ion-input [(ngModel)]="email" class="input" placeholder="Enter your email"></ion-input>
      <ion-icon name="mail-outline" style="color: #000000;"></ion-icon>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px">
      <ion-fab-button (click)="resetPassword()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
