<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-page">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Que es lo que buscas?</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Por aquí podrás relizar la busqueda para encontrar la mejor opcion para tu hogar!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tipo de servicio</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Por aquí podrás relizar la busqueda para encontrar la mejor opcion para tu hogar!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Horas requeridas</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Por aquí podrás relizar la busqueda para encontrar la mejor opcion para tu hogar!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fecha de inicio</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Por aquí podrás relizar la busqueda para encontrar la mejor opcion para tu hogar!
    </ion-card-content>
  </ion-card>

</ion-content>